{% extends 'airwaysbase/base.html' %}
{% load cusrom_filters %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>Recent flights</h3>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th></th>
                    <th>Starts at</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tbody>
                {% for flight in response.flights %}
                    <tr>
                        <td><a href="/flights/{{ flight|private_attr:'_id' }}">Details</a></td>
                        <td>{{ flight.start_date }}</td>
                        <td>{{ flight.source.name }}</td>
                        <td>{{ flight.destination.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}